.auth-tabs {
  & > div:first-child {
    background-color: $blue-cool !important;
    border-radius: 2px 2px 0px 0px;
  }
}

.form {
  padding: 1rem;
  .login {
    max-width: 256px;
    margin: auto;

    .recover-password {
      display: inline-block;
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: $blue-darks;
      cursor: pointer;

      &:hover {
        color: $blue-cool;
      }
    }
  }
  .submit-btn-wrapper {
    text-align: right;
    width: 256px;
    margin: auto;
  }
}
