.auth-tabs {
  > div:first-child {
    background-color: $blue-cool !important;
    border-radius: 2px 2px 0px 0px;
  }
}

.form {
  padding: 1rem;
  &.login {
    max-width: calc(256px + 2rem);
    margin: auto;
    .recover-password {
      margin-top: 1rem !important;
      margin-bottom: 0.5rem !important;
      color: $blue-darks !important;

      &:hover {
        color: $blue-cool !important;
      }

      &.cancel {
        color: $red !important;
        &:hover {
          color: $red-darks !important;
        }
      }

      span {
        padding: 0px !important;
      }
    }
  }

  .submit-btn-wrapper {
    width: 256px;
    margin: auto;
  }
}
