/* external imports */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import 'utils';

@import '../components/Home/PromotionSingleResult';

@import './variables';

/* component imports */
@import '../components/common/Header/Header';
@import '../components/common/SideNav/SideNav';

$font-stack: 'Roboto', sans-serif;

body {
  background: url('../images/fondo_1180x1820.jpg') center no-repeat;
  font-family: $font-stack;
  margin: 0;
}
/* Scrollbar (webkit only) */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
  color: $black;
}

.main {
  margin-top: 64px;
  // background-color: $gray-bg;
  padding: 20px;
}
.paper {
  padding: 15px 20px;
}
// Text colors
.text-orange {
  color: $orange;
}
.text-white {
  color: $white;
}
