.text-center {
  text-align: center !important;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.hide-xs-only {
  display: none;

  @media only screen and (min-width: 48em) {
    display: initial;
  }
}
