/* variables */

$blue-lighter: #e5f5fb;
$blue-light: #b5e2f5;
// $blue-mid: #25aae1;
$blue-mid: #65c9d1;
$blue-darks: #5ba8d6;
$orange: #f7941e;
$red: #ee3335;
$white: #ffffff;
$black: #000000;
$gray-bg: #f2f2f2;
