@import '../../../styles/variables.scss';

.header {
  background-color: $blue-darks !important;
  position: fixed !important;
  left: 0;
  top: 0;
  .navbar-left-logo-img {
    // background: url('../../../images/logo_nav_desktop.png');
  }
  .header-right-nav {
    display: inline-block;
    margin-top: 2px;
    padding: 5px;
    background-color: $blue-lighter;
    border-radius: 25px;

    .header-right-nav-btn {
      color: $blue-darks;
      height: 25px !important;
      line-height: 25px !important;
      margin-top: 5px !important;

      border: 10px;
      box-sizing: border-box;
      display: inline-block;
      font-family: Roboto, sans-serif;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      cursor: pointer;
      text-decoration: none;
      margin: 0px;
      padding: 0px 2%;
      outline: none;
      font-size: inherit;
      font-weight: inherit;
      position: relative;
      height: 30px;
      line-height: 30px;
      // min-width: 88px;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      border-radius: 2px;
      user-select: none;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0);
      text-align: center;
      vertical-align: middle;
      letter-spacing: 0px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;

      &:hover {
        color: $orange !important;
        background: transparent !important;
        background-color: transparent !important;
      }
    }

    .header-right-nav-divider {
      color: $blue-darks;
      height: 25px !important;
      line-height: 25px !important;
      margin-top: 5px !important;

      border: 10px;
      box-sizing: border-box;
      display: inline-block;
      font-family: Roboto, sans-serif;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      cursor: pointer;
      text-decoration: none;
      // margin: 5px 0px;
      padding: 0px;
      outline: none;
      font-size: inherit;
      font-weight: inherit;
      position: relative;
      height: 36px;
      line-height: 36px;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      border-radius: 2px;
      user-select: none;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0);
      text-align: center;
      vertical-align: middle;
      letter-spacing: 0px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
    }
  }
}
