.promotion-single-result {
  background-color: white;
  border-radius: 0.5rem;
  max-height: 100px;

  .img-container {
    padding: 0.5rem;
    display: flex; // center img

    img {
      border-radius: 0.5rem;
    }
  }
}
