@import '../../../styles/variables.scss';

.sidenav {
  background-color: $blue-darks !important;
  overflow-x: hidden;
  div[role='presentation'],
  .menu {
    width: 250px !important;
  }

  a {
    ::active,
    ::link,
    ::focus {
      color: inherit;
    }
    .menu-item {
      color: $white !important;
    }
  }

  .logo {
    padding: 15px;
    background-color: $blue-lighter;

    h3 {
      margin-bottom: 0px;
      margin-top: 0px;
      font-size: 18px;
      line-height: 18px;
    }

    .slogan {
      font-size: 12px;
      line-height: 12px;
    }
  }
  &-day-menu {
    text-transform: capitalize;
  }
}
