/* external imports */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import './variables';

@import './utils';

@import '../components/Home/PromotionSingleResult';
@import '../components/Auth/Auth';
@import '../components/CustomerAdmin/AdminEditPromotion/AdminEditPromotion';
@import '../components/CustomerAdmin/CustomerAdmin';

/* component imports */
@import '../components/common/Header/Header';
@import '../components/common/SideNav/SideNav';
@import '../components/common/Footer/Footer';

$font-stack: 'Roboto', sans-serif;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // background: url('../images/fondo_1180x1820.jpg') center no-repeat;
  background-color: $gray-bg;
  font-family: $font-stack;
  margin: 0;
  // margin-top: (-$headerHeight);
  position: relative;
  // padding-bottom: 50px;
  min-height: 100%;

  @media #{$upToSmall} {
    // padding-bottom: 72px;
  }
}

a {
  text-decoration: none;
  color: $black;
}

.main {
  padding: 1rem;
  padding-top: calc(2rem + #{$headerHeight});
  min-height: calc(100vh - 36px); // 36px is the height of footer in desktop

  @media #{$upToSmall} {
    padding-top: calc(1rem + #{$headerHeight});
    min-height: calc(100vh - 72px); // 36px is the height of footer in xs
  }
}
.paper {
  padding: 15px 20px;
}
// Text colors
.text {
  &-white {
    color: $white;
  }
  &-red {
    color: $red;
  }
  &-orage {
    color: $orange;
  }
  &-error,
  &-danger {
    color: $errorColor;
  }
}

/* alerts */
.alert {
  padding: 1rem;
  &.alert-small {
    padding: 0.5rem;
    font-size: 14px;
  }

  &.alert-error,
  &.alert-danger {
    background-color: #fbe9e7;
    color: #d50000;
  }
}

p {
  margin-top: 0px;
}
