/* external imports */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import './variables';

@import './utils';

@import '../components/Home/PromotionSingleResult';
@import '../components/Auth/Auth';

/* component imports */
@import '../components/common/Header/Header';
@import '../components/common/SideNav/SideNav';
@import '../components/common/Footer/Footer';

$font-stack: 'Roboto', sans-serif;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // background: url('../images/fondo_1180x1820.jpg') center no-repeat;
  background-color: $blue-light;
  font-family: $font-stack;
  margin: 0;
  margin-top: (-$headerHeight);
  position: relative;
  padding-bottom: 50px;
  min-height: 100%;
  @media only screen and (max-width: 48em) {
    padding-bottom: 72px;
  }
}

a {
  text-decoration: none;
  color: $black;
}

.main {
  margin-top: $headerHeight;
  padding: 1rem;
  padding-top: calc(2rem + #{$headerHeight});
  @media only screen and (max-width: 48em) {
    padding-top: calc(1rem + #{$headerHeight});
  }
}
.paper {
  padding: 15px 20px;
}
// Text colors
.text-orange {
  color: $orange;
}
.text-red {
  color: $red;
}
.text-white {
  color: $white;
}
