.text-center {
  text-align: center !important;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.hide-xs-only {
  display: none;

  // todo: @paul pass this to a media query variable on variables.scss
  @media only screen and (min-width: 48em) {
    display: initial;
  }
}

.show-xs-only {
  display: none;

  @media #{$upToSmall} {
    display: initial;
  }
}
