// NOTE: if you delete/add something in this file
// make sure to do it also in variables.js

/* variables */

$blue-lighter: #e5f5fb;
$blue-light: #b5e2f5;
$blue-mid: #65c9d1;
$blue-darks: #5ba8d6;
$blue-cool: #1f8f8f;
$orange: #f7941e;
$red: #ee3335;
$red-darks: #a20202;
$white: #ffffff;
$black: #000000;
$gray-bg: #f2f2f2;
$mute: #9e9e9e;
$errorColor: #d50000; // TODO: add to variables.js

/* sizes */
$headerHeight: 64px;

/* media queries */
$large: 'only screen and (min-width: 75em)';
$medium: 'only screen and (min-width: 62.01em)';
$upToMedium: 'only screen and (max-width: 62em)';
$upToSmall: 'only screen and (max-width: 48em)';
